= simple_form_for @invoice do |f|
  - if @invoice.errors.any?
    #errorExplanation
      %h2= "#{pluralize(@invoice.errors.count, 'error')} prohibited this user from being saved:"
      %ul
      - @invoice.errors.full_messages.each do |msg|
        %li= msg
  -#= f.association :customer, :label => t('customer'), :as => :select
  = f.input :number, :label => t('number')
  = f.input :purchase_order, :label => t('purchase_order')
  = f.input :currency, :label => t('currency')
  = f.input :covering_text, :label => t('covering_text'), :as => :text
  -#= f.association current_user.invoicing_parties, :label => t('invoicing_party'), :as => :invoicing_party
  -#= f.association :invoicing_party, :collection => current_user.invoicing_parties
  = f.input :due_on, :label => t('due_on'), :as => :date
  - f.simple_fields_for :invoice_items, @invoice.invoice_items[0] do |ii|
    = ii.input :started_at, :label => t('started_at'), :as => 'datetime'
    = ii.input :ended_at, :label => t('ended_at'), :as => 'datetime'
    = ii.input :description, :label => t('description')
  .actions
    = f.button :submit, t('submit')
