= simple_form_for @invoice do |f|
  - if @invoice.errors.any?
    #errorExplanation
      %h2= "#{pluralize(@invoice.errors.count, 'error')} prohibited this user from being saved:"
      %ul
      - @invoice.errors.full_messages.each do |msg|
        %li= msg
  = f.select :invoicing_party_id, current_user.invoicing_parties.map{|ip| [ip.name, ip.id]}, :label => t('invoicer.invoicing_party')
  = f.select :customer_id, current_user.customers.map{|c| [c.name, c.id]}, :label => t('invoicer.customer')
  = f.input :number, :label => t('invoicer.number')
  = f.input :purchase_order, :label => t('invoicer.purchase_order')
  = f.input :currency, :label => t('invoicer.currency')
  = f.input :covering_text, :label => t('invoicer.covering_text'), :as => :text
  = f.input :due_on, :label => t('invoicer.due_on'), :input_html => {:type => :date}
  = render :partial => 'invoice_item_form', :locals => {:f => f}
  .actions
    = f.button :submit, t('invoicer.submit')
