%table
  %thead
    %tr
      %th.description= t('invoicer.description')
      %th.started_at= t('invoicer.started_at')
      %th.ended_at= t('invoicer.ended_at')
      %th.pauses= t('invoicer.pauses')
      %th.pricing_strategy= t('invoicer.pricing_strategy')
      %th.vat_rate= t('invoicer.vat_rate')
      %th.vat_rate= t('invoicer.price')
  %tbody
    - (defined?(invoice) ? invoice : @invoice).invoice_items.each do |invoice_item|
      %tr{ :class => cycle(:odd, :even) }
        %td= invoice_item.description
        %td= l(invoice_item.started_at, :format => :numeric)
        %td= l(invoice_item.ended_at, :format => :numeric)
        %td= invoice_item.pause_times
        %td= t(invoice_item.pricing_strategy)
        %td= invoice_item.vat_rate
        %td= number_to_currency(invoice_item.price)

