%table
  %thead
    %tr
      %th.description= t('description')
      %th.started_at= t('started_at')
      %th.ended_at= t('ended_at')
      %th.pauses= t('pauses')
      %th.pricing_strategy= t('pricing_strategy')
      %th.vat_rate= t('vat_rate')
  %tbody
    - invoice.invoice_items.each do |invoice_item|
      %tr{ :class => cycle(:odd, :even) }
        %td= invoice_item.description
        %td= l(invoice_item.started_at, :format => :numeric)
        %td= l(invoice_item.ended_at, :format => :numeric)
        %td= invoice_item.pause_times
        %td= t(invoice_item.pricing_strategy)
        %td= invoice_item.vat_rate

