%h1 Invoices
%p= link_to 'New invoice', new_invoice_path

%table
  %thead
    %tr
      %th customer
      %th number
      %th currency
      %th covering_text
      %th invoicing_party_id
      %th workflow_state
      %th due_on
      %th printed_at
      %th actions
  %tbody
    - for invoice in @invoices
      %tr{ :class => cycle(:odd, :even) }
        %td= invoice.customer.name
        %td= invoice.invoicing_party.name
        %td= invoice.number
        %td= invoice.currency
        %td= invoice.covering_text
        %td= invoice.workflow_state
        %td= invoice.due_on
        %td= invoice.printed_at
        %td.action
          = link_to t('edit'), edit_invoice_path(invoice)
          = link_to t('destroy'), invoice_path(invoice), :method => :delete
          = link_to t('download pdf'), invoice_path(invoice, :format => :pdf)
