%h1 Invoices
%p= link_to 'New invoice', new_invoice_path
- @invoices.each do |invoice|
  %table{:class => "'invoice #{invoice.current_state}'"}
    %thead
      %tr
        %th= t('invoicer.customer')
        %th= t('invoicer.invoicing_party')
        %th= t('invoicer.number')
        %th= t('invoicer.purchase_order')
        %th= t('invoicer.currency')
        %th= t('invoicer.covering_text')
        %th= t('invoicer.workflow_state')
        %th= t('invoicer.due_on')
        %th= t('invoicer.amount')
        %th= t('invoicer.actions')
    %tbody
    %tr{ :class => invoice.current_state, :id => "invoice_#{invoice.id}" }
      %td= link_to(invoice.customer.name, customer_path(invoice.customer))
      %td= link_to(invoice.invoicing_party.name, invoicing_party_path(invoice.invoicing_party))
      %td= invoice.number
      %td= invoice.purchase_order
      %td= invoice.currency
      %td= invoice.covering_text
      %td
        - workflow_tag(invoice)
      %td= l(invoice.due_on.to_date)
      %td
        %dl
          %dt= t('invoicer.amount')
          %dd= number_to_currency(invoice.amount, :unit => invoice.currency)
          %dt= t('invoicer.vat_amount')
          %dd= number_to_currency(invoice.vat_amount, :unit => invoice.currency)
          %dt= t('invoicer.gross_amount')
          %dd= number_to_currency(invoice.gross_amount, :unit => invoice.currency)
      %td.action
        = link_to t('invoicer.edit'), edit_invoice_path(invoice)
        = link_to t('invoicer.destroy'), invoice_path(invoice), :method => :delete
        = link_to t('invoicer.download_pdf'), invoice_path(invoice, :format => :pdf)
    %tr{:class => "#{invoice.current_state} invoice_items"}
      %td{:colspan => '100%'}
        =render('invoice_items', :invoice => invoice) unless invoice.invoice_items.empty?
    %tr{:class => "#{invoice.current_state} history"}
      %td{:colspan => '100%'}
        =render('history', :invoice => invoice) unless invoice.history.empty?
