%h1 Invoices
%p
  = link_to 'edit', edit_invoice_path(@invoice)
  = link_to 'pdf', invoice_path(@invoice, :format => :pdf)
%dl
  %dt= t('customer')
  %dd= link_to @invoice.customer.name, customer_path(@invoice.customer)
  %dt= t('number')
  %dd= @invoice.number
  %dt= t('purchase_order')
  %dd= @invoice.purchase_order
  %dt= t('currency')
  %dd= @invoice.currency
  %dt= t('covering_text')
  %dd= @invoice.covering_text
  %dt= t('invoicing_party')
  %dd= link_to @invoice.invoicing_party.name, invoicing_party_path(@invoice.invoicing_party)
  %dt= t('invoicer.workflow_state')
  %dd= @invoice.current_state
  %dt= t('invoicer.due_on')
  %dd= @invoice.due_on
  %dt= t('invoicer.invoice_items')
  %dd= render :partial => 'invoice_items'
  %dt= t('invoicer.history')
  %dd= render :partial => 'history'

