%h1= t('invoicer.invoice')
%p
  = link_to t('invoicer.edit'), edit_invoice_path(@invoice)
  = link_to t('invoicer.download_pdf'), invoice_path(@invoice, :format => :pdf)
%dl
  %dt= t('invoicer.customer')
  %dd= link_to @invoice.customer.name, customer_path(@invoice.customer)
  %dt= t('invoicer.number')
  %dd= @invoice.number
  %dt= t('invoicer.purchase_order')
  %dd= @invoice.purchase_order
  %dt= t('invoicer.currency')
  %dd= @invoice.currency
  %dt= t('invoicer.covering_text')
  %dd= @invoice.covering_text
  %dt= t('invoicer.invoicing_party')
  %dd= link_to @invoice.invoicing_party.name, invoicing_party_path(@invoice.invoicing_party)
  %dt= t('invoicer.workflow_state')
  %dd
    - workflow_tag(@invoice)
  %dt= t('invoicer.due_on')
  %dd= @invoice.due_on
  %dt= t('invoicer.invoice_items')
  %dd= render :partial => 'invoice_items'
  %dt= t('invoicer.history')
  %dd= render :partial => 'history'

