= simple_form_for(current_user) do |f|
  - if current_user.errors.any?
    #errorExplanation
      %h2= "#{pluralize(current_user.errors.count, 'error')} prohibited this user from being saved:"
      %ul
      - current_user.errors.full_messages.each do |msg|
        %li= msg
  - unless current_user.avatar.blank?
    %img{:src => "data:image/jpeg;base64,#{Base64.encode64(current_user.avatar.read)}"}
  .field
    = f.input :email, :label => :email
  .field
    = f.input :password, :label => :password
  .field
    = f.input :avatar, :label => :avatar

  .actions
    = f.submit
