%h1 Customers
%p= link_to t('.new_customer'), new_customer_path

%table
  %thead
    %tr
      %th name
      %th number
      %th email
      %th telephone
      %th street
      %th post_code
      %th city
      %th country
      %th invoices
      %th actions

  %tbody
    - @customers.each do |customer|
      %tr{ :class => cycle(:odd, :even) }
        %td= customer.name
        %td= customer.number
        %td= customer.email
        %td= customer.telephone
        %td= customer.street
        %td= customer.post_code
        %td= customer.city
        %td= customer.country
        %td
          %ul
            - customer.invoices.each do |invoice|
              %li.invoice= link_to invoice.number, invoice_path(invoice)
            %li.invoice.new= link_to 'new invoice', new_invoice_path
        %td.action
          %li.customer.edit= link_to t('edit') , edit_customer_path(customer)
          %li.customer.destroy= link_to t('destroy'), customer, {:confirm => 'Are you sure?', :method => :delete}, {}
.customer.new= link_to 'new customer', new_customer_path
