%h1 Customers
%p= link_to t('invoicer..new_customer'), new_customer_path

%table
  %thead
    %tr
      %th= t('invoicer.name')
      %th= t('invoicer.number')
      %th= t('invoicer.email')
      %th= t('invoicer.telephone')
      %th= t('invoicer.street')
      %th= t('invoicer.post_code')
      %th= t('invoicer.city')
      %th= t('invoicer.country')
      %th= t('invoicer.invoices')
      %th= t('invoicer.actions')

  %tbody
    - @customers.each do |customer|
      %tr{ :class => cycle(:odd, :even) }
        %td= customer.name
        %td= customer.number
        %td= customer.email
        %td= customer.telephone
        %td= customer.street
        %td= customer.post_code
        %td= customer.city
        %td= customer.country
        %td
          %ul
            - customer.invoices.each do |invoice|
              %li.invoice= link_to invoice.number, invoice_path(invoice)
            %li.invoice.new= link_to t('invoicer.new_invoice'), new_invoice_path
        %td.action
          %li.customer.edit= link_to t('invoicer.edit') , edit_customer_path(customer)
          %li.customer.destroy= link_to t('invoicer.destroy'), customer, {:confirm => t('invoicer.are_you_sure?'), :method => :delete}, {}
.customer.new= link_to  t('invoicer.new_customer'), new_customer_path
