%h1= @customer.name
%dl
  %dt number
  %dd= @customer.number
  %dt user
  %dd= link_to @customer.user.login, user_path(@customer.user)
  %dt email
  %dd= @customer.email
  %dt telephone
  %dd= @customer.telephone
  %dt street
  %dd= @customer.street
  %dt post_code
  %dd= @customer.post_code
  %dt city
  %dd= @customer.city
  %dt country
  %dd= @customer.country
