%h1 Invoicing parties
%p= link_to 'new', new_invoicing_party_path

%table
  %thead
    %tr
      %th= t('invoicer.name')
      %th= t('invoicer.user')
      %th= t('invoicer.co_line')
      %th= t('invoicer.street')
      %th= t('invoicer.post_code')
      %th= t('invoicer.city')
      %th= t('invoicer.country')
      %th= t('invoicer.vatid')
      %th= t('invoicer.taxnumber')
      %th= t('invoicer.bank name')
      %th= t('invoicer.bank_account_number')
      %th= t('invoicer.bank_sort_code')
      %th= t('invoicer.telephone')
      %th= t('invoicer.email')
      %th= t('invoicer.invoices')
      %th= t('invoicer.actions')

  %tbody
    - @invoicing_parties.each do |invoicing_party|
      %tr{ :class => cycle(:odd, :even) }
        %td= invoicing_party.name
        %td= invoicing_party.user.login
        %td= invoicing_party.co_line
        %td= invoicing_party.street
        %td= invoicing_party.post_code
        %td= invoicing_party.city
        %td= invoicing_party.country
        %td= invoicing_party.vatid
        %td= invoicing_party.taxnumber
        %td= invoicing_party.bank_name
        %td= invoicing_party.bank_account_number
        %td= invoicing_party.bank_sort_code
        %td= invoicing_party.telephone
        %td= invoicing_party.email
        %td
          %ul
            - invoicing_party.invoices.each do |invoice|
              %li.invoice= link_to invoice.number, invoice_path(invoice)
            %li.invoice.new= link_to 'new invoice', new_invoice_path
        %td.action
          =link_to t('invoicer.show'), invoicing_party_path(invoicing_party)
          =link_to t('invoicer.edit'), edit_invoicing_party_path(invoicing_party)
          =link_to t('invoicer.destroy'), invoicing_party_path(invoicing_party, :method => :delete)
