!!! 5 utf-8
%html
  %head
    %link{ :rel => 'shortcut icon', :type => "image/x-icon", :href => '/images/favicon.png' }
    %title= "#{params[:controller].classify}##{params[:action]}"
    = stylesheet_link_tag 'invoicer.css', 'jquery-ui-1.8.5.custom.css', :cache => true
    = javascript_include_tag 'jquery-1.4.2.min.js', 'jquery-ui-1.8.5.custom.min.js', 'jquery-extensions.js',
      'underscore-min.js', 'invoicer', :cache => true
    = csrf_meta_tag
  %body
    -unless flash.empty?
      %ul#flash_message
        - flash.each do |key, value|
          %li{:class => key}= value
    - if user_signed_in?
      = link_to t('logout'), destroy_session_path(current_user)
      = link_to t('preferences'), edit_user_path(current_user)
      = link_to t('customers'), customers_path
      = link_to t('invoicing parties'), invoicing_parties_path

    = yield

