!!! 5 utf-8
%html
  %head
    %link{ :rel => 'shortcut icon', :type => "image/x-icon", :href => '/images/favicon.png' }
    %title InvoicerRails
    = stylesheet_link_tag 'invoicer.css', 'jquery-ui-1.8.5.custom.css', :cache => true
    = javascript_include_tag 'jquery-1.4.2.min.js', 'jquery-ui-1.8.5.custom.min.js', 'jquery-extensions.js',
      'underscore-min.js', 'invoicer', :cache => true
    = csrf_meta_tag
  %body
    -unless flash.empty?
      %ul#flash_message
        - flash.each do |key, value|
          %li{:class => key}= value
    - if @current_user
      %button#destroy_session= "logout #{@current_user.login}"
      %button#user_settings= "change #{@current_user.login}'s settings"
      = link_to 'customers', user_customers_path(@current_user)
      = link_to 'invoicing parties', user_invoicing_parties_path(@current_user)
    = yield

